label {
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}
h1 {
  text-align: center;
}
form {
  margin-top: 0px;
}
a {
  margin-top: 5px;
}
em {
  font-size: 26px;
}
ul {
  margin-bottom: 5px;
  display:none;
  line-height: 21px;
}
/*could not get hide-show to work?*/
.answer label {
    margin-left: 10px;
    color: navy;
}
#suggestion h4 {
   font-size: 26px;
}
.container {
  margin-left: 10px;
  margin-right: 10px;
}
.jumbotron {
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: lightblue;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
#hidden p  {
  font-size: 13px;
  margin-top: 18px;

}
#left-menu .jumbotron ul {
  padding-left: 0px;
  text-align: left;
}
#adventure {
  color: navy;
  font-weight: bolder;
}

#left-menu {
  background-color: lightgreen;

}
#left-menu p{
  font-size: 15px;
  margin-bottom: 5px;
}
#second-row {
  margin-left: 1px;
}
#suggestionBox {
  background-color: lightgreen;
}
